<!-- <h1><STRONG>Welcome {{user name}}</STRONG></h1> -->
<h1><STRONG>Welcome SHRGSFLSD</STRONG></h1>
<h5>hellowrodhellowrodhellowrodhellowrodhellowrod</h5>
<div>
    <div class="card" style="width: 44rem;">
        <div class="card-body">
          <div class="container">
            <!-- <h5 class="card-title">My Bank : {{total number of bank account }}</h5> -->
            <h5 class="card-title">My Bank : <h6>3 Bank accounts</h6></h5>
            <a href="/customer/bank_account" class="link"> + Add Account</a>
          </div>
          <br>
        <h3>Total Current Balance</h3>
        <!-- <h6>${{money}}</h6> -->
        <h6 class="balance">$ 13193831 </h6>
          
        </div>
    </div>
</div>
<br>

<h1><strong>Recent Transaction</strong></h1>
<table class="table">
    <thead class="thead-light">
        <tr>
        <th scope="col">Transaction Id</th>
        <th scope="col">User's Name</th>
        <th scope="col">Account Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dt of data">
        <th scope="row">{{dt.id}}</th>
        <td>{{dt.username}}</td>
        <td>{{dt.accname}}</td>
        <td>{{dt.amount}}</td>
        <td>{{dt.trantype}}</td>
        <td>{{dt.date}}</td>
    </tbody>
</table>
<router-outlet></router-outlet>
