<p>
  <mat-toolbar>
    <span>SafeNet Online Banking</span>
    <div class="dropdown">
      <!-- <mat-icon aria-hidden="false" fontIcon="account_circle"></mat-icon> -->
        <!-- <button>
          <mat-icon aria-hidden="false" fontIcon="arrow_drop_down"></mat-icon>
        </button> -->
        <button mat-icon-button color="primary" aria-label="Icon button with a arrow icon">
          <mat-icon>account_circle</mat-icon>
        </button>
        <div class="content">
            <a href="">Profile</a>
            <a href="">Change password</a>
            <a href="">Log out</a>
        </div>
    </div>
  </mat-toolbar>
</p>
  


