mat-toolbar{
    background-color: #0090C1;
    box-shadow: 0 2px 10px 0 #266d86;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100px;
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 0px;
}
mat-toolbar span{
    color: rgb(255, 255, 255);
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none ;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    right: 30px;
    background-color: azure;
    min-width: 100px;
    box-shadow: 0 2px 10px 0 #266d86;
    z-index: 999;
    border-radius: 30px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: #38AECC;
}
.dropdown a:hover{
    background-color: #38AECC;
    border-radius: 30px;

}