<mat-card>
    <mat-card-content>
        <mat-list>
            <mat-list-item>  
                <a mat-button href="https://www.google.com/" target="_blank">
                    <mat-icon>home</mat-icon>Home
                </a>
            </mat-list-item>
           <mat-list-item>  
                <a mat-button href="https://www.google.com/" target="_blank">
                    <mat-icon>badge</mat-icon>Account   
                </a>
            </mat-list-item>
            <mat-list-item>  
                <a mat-button href="https://www.google.com/" target="_blank">
                    <mat-icon>
                        sync_alt
                        </mat-icon>Transaction
                </a>
            </mat-list-item>
            <mat-list-item>  
                <a mat-button href="https://www.google.com/" target="_blank">
                    <mat-icon>
                        history_edu
                        </mat-icon>History
                </a>
            </mat-list-item>
            <mat-list-item>  
                <a mat-button href="https://www.google.com/" target="_blank">
                    <mat-icon>phone</mat-icon>Contact - Support
                </a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

