mat-card{
    margin: 0 10px;
    width: 77.5%;
    color: white;
    height: 84%;
    background-color: #046E8F;
    box-shadow: 0 2px 10px 0 #266d86;
    padding: 0 10px;
    position: absolute;
    left: 21%;
    top : 110px;
    z-index: -9;
}