<h1><STRONG>Payment Transfer</STRONG></h1>
<h5>Faste and easy to transfer your money with just simple act</h5>
<div style="border-bottom: 1px dotted rgb(13, 135, 162); margin-top: 30px; margin-bottom: -10px;"></div>
<br>
<form [formGroup] = "userForm"> 
  <div class="form-group">
    <div>
      <h4><b>Transfer Details</b></h4>
      <h6>Enter detail for the recipient</h6>
    </div>
    <div style="padding: 10px; border-radius: 25px; border: 3px solid rgb(13, 135, 162)">
      <div>
        <div>
          <h5>Select Source Bank</h5>
          <p>Select the bank account you want to transfer from</p> 
          <select class="form-select" aria-label="Default select example" formControlName="accountnumber" required>
            <option selected value="0" >Open this select menu</option>
            <option value="1++" *ngFor = "let accnum of account" >{{accnum.number}}</option>
          </select>
          <!-- <div class="text-danger" *ngIf="userForm.controls['accountnumber'].invalid && (userForm.controls['accountnumber'].touched || userForm.controls['accountnumber'].dirty)">
            <span *ngIf="userForm.controls['accountnumber'].errors?.['required']">This is invalid value</span>
          </div> -->
        </div>
      </div>
      <div>
        <h5>Transfer Note </h5>
        <p>Write something for the other person</p>
        <textarea class="form-control" id="cmt" style="width: 100%;" formControlName="comment" required></textarea>
        <!-- <div class="text-danger" *ngIf="userForm.controls['accountnumber'].invalid && (userForm.controls['accountnumber'].touched || userForm.controls['accountnumber'].dirty)">
          <span *ngIf="userForm.controls['accountnumber'].errors?.['required']">This is invalid value</span>
        </div> -->
      </div>
    </div>
    <div>
      <h4><b>Bank Account Details</b></h4>
      <h6>Enter the bank account details for the recipient</h6>
    </div>
    <div style="padding: 10px; border-radius: 25px; border: 3px solid rgb(13, 135, 162)">
      <div>
        <h5>Recipient's Email Address</h5>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="email" [(ngModel)]="userObj.email" placeholder="Recipient's Email" aria-label="Recipient's Email" aria-describedby="basic-addon2" formControlName="email" required>
        </div>
        <div class="text-danger">
          <span *ngIf="userForm.controls['email'].errors?.['required']">This is invalid value</span>
        </div>
      </div>
      <div>
        <h5>Recipient's Account Number</h5>
        <input type="text" class="form-control" [(ngModel)]="userObj.bankaccount" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName="bankaccount" required>
        <div class="text-danger" *ngIf="userForm.controls['accountnumber'].invalid && (userForm.controls['accountnumber'].touched || userForm.controls['accountnumber'].dirty)">
          <span *ngIf="userForm.controls['accountnumber'].errors?.['required']">This is invalid value</span>
        </div>
      </div>
      <div>
        <h5>Amount</h5>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="userObj.amount" aria-label="Amount (to the nearest dollar)" placeholder="$.00" formControlName="amount" required>
        </div>
        <div class="text-danger" *ngIf="userForm.controls['accountnumber'].invalid && (userForm.controls['accountnumber'].touched || userForm.controls['accountnumber'].dirty)">
          <span *ngIf="userForm.controls['accountnumber'].errors?.['required']">This is invalid value</span>
        </div>
      </div>
    </div>
    <input type="submit" class="form-control" style="margin: 30px 0; background-color: rgb(13, 135, 162); color: white; border: 2px solid cyan">
  </div>
</form>

<router-outlet></router-outlet>